.comments-container {
    background-color: #c9d9ff;
    padding: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.add-comment-container {
    padding: 10px 10px 10px 10px;
}

.add-com-textarea {
    border-radius: 8px;
    height: 100px;
    width: 80%;
    border-color: #709bff;
    resize: none;
}

.add-com-message {
    margin: 10px 10px 10px 10px;
}

.add-com-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c9d9ff;
    color: #000000;
    border-radius: 5px;
    font-size: 20px;
    border-width: 5px;
    border-color: #709bff;
}

.comments-list {

}

.comment-container {
    background-color: #e0e9ff;
    margin: 15px;
    border-radius: 15px;
    width: 50%;
    display: flex;;
}

.comment-score {
    width: 15%;
    
}

.comment-score-points {
    margin-left: 25%;
}

.comment-score-btn {
    border-radius: 25%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: #FFFFFF;
    border-color: #9999CD;
    font-weight: bold;
}

.comment-element {
    width: 85%;
}

.comment-info {
    color: #222222;
    font-style: italic;
    font-size: 14px;
}

.comment-author {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}

.comment-text {
    word-break: break-all;
    margin-right: 10%;
}

.comment-response-btn {
    margin: 10px;
}

.response-button {
    padding-right: 5%;
    margin-right: 5%;
    background-color: #c9d9ff;
    color: #000000;
    border-radius: 5px;
    border-width: 2px;
    border-color: #709bff;
}

.response-text-area {
    border-radius: 8px;
    height: 100px;
    width: 80%;
    border-color: #709bff;
    resize: none;
}

