.comments-container {
    background-color: #c9d9ff;
    padding: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.add-comment-container {
    padding: 10px 10px 10px 10px;
}

.add-com-textarea {
    border-radius: 8px;
    height: 100px;
    width: 80%;
    border-color: #709bff;
    resize: none;
}

.add-com-message {
    margin: 10px 10px 10px 10px;
}

.add-com-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c9d9ff;
    color: #000000;
    border-radius: 5px;
    font-size: 20px;
    border-width: 5px;
    border-color: #709bff;
}

.comments-list {

}

.comment-container {
    background-color: #e0e9ff;
    margin: 15px;
    border-radius: 15px;
    width: 50%;
    display: flex;;
}

.comment-score {
    width: 10%;
}

.comment-score-points {
    text-align: center;
}

.comment-score-btn {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.comment-element {
    width: 90%;
}

.comment-info {

}

.comment-text {

}

.comment-response-btn {
    margin: 10px;
}

