h1 {
    text-align: center;   
}

.post-element {
    border-radius: 15px;
    background: #DDDDDD;
    padding: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-list {
    padding: 20;
}