.post-element {
    border-radius: 15px;
    background: #DDDDDD;
    padding: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
}


.post-list {
    padding: 20px 20px 20px 20px;
}

.post-element-title {
    background-color: inherit;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #666666;
}

.post-element-info {
    font-style: italic;
    font-size: 13px;
    color: #888888;
}

.post-element-content {
    font-size: 19px;
    word-wrap: normal;
    margin-left: 10px;
    white-space: pre-wrap;
}

.post-element-author {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: bold;
}