<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>postsapp</title>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/poststyle.css}" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="head-title-section">
            <h1 class="head-title" ><a class="head-anchor" th:href="@{/}">PostsApp</a></h1>
        </div>
        <div class="head-section">
            
            <div class="head-login-section" sec:authorize="!isFullyAuthenticated()">
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/login}">Login</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/register}">Sign up</a></h4>
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/}">Home</a></h4>
            </div>

            <div class="head-login-section" sec:authorize="isFullyAuthenticated()">
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/logout}">Sign out</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/}">Home</a></h4>
                <h4 class="head-login-section-element ">Welcome <b class="head-username">[[${#request.userPrincipal.principal.name}]]</b></h4>
                
            </div>
        </div>
    </header>

    <div sec:authorize="isFullyAuthenticated()">
        <p>add new post <a th:href="@{/newpost}">here</a></p>
    </div>

    <div id="posts_container">
        <script type="text/javascript">
            getAllPosts();
        </script>
    </div>

</body>
</html>