<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

    <h1>postsapp</h1>

    <button onclick="sendGetRequest()">send</button>

    <div id="posts_container">
        <script type="text/javascript">
            getAllPosts();
        </script>
    </div>

    <p>add new pots <a th:href="@{/newpost}">here</a></p>

</body>
</html>