<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/newpostapp.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/formstyle.css}" rel="stylesheet" />
    <link th:href="@{/css/postform.css}" rel="stylesheet" />
    
</head>
<body>

    <header>
        <div class="head-title-section">
            <h1 class="head-title" ><a class="head-anchor" th:href="@{/}">PostsApp</a></h1>
        </div>
        <div class="head-section">
            
            <div class="head-login-section" sec:authorize="!isFullyAuthenticated()">
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/login}">Login</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/register}">Sign up</a></h4>
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/}">Home</a></h4>
            </div>

            <div class="head-login-section" sec:authorize="isFullyAuthenticated()">
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/logout}">Sign out</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/}">Home</a></h4>
                <h4 class="head-login-section-element ">Welcome <b class="head-username">[[${#request.userPrincipal.principal.name}]]</b></h4>
                
            </div>
        </div>
    </header>

    <div class="form-container">
        <form class="post-form" id="postform">
            <div class="form-element">
                <label class="post-form-title" >title</label>
                <input class="post-form-input" type="text" name="title" id="title" />
            </div>

            <div class="post-form-content-container">
                <label class="form-label">content</label>
                <textarea class="post-form-content" type="text" name="content" id="content" ></textarea>
            </div>

            <div class="form-element">
                <span class="form-message" id="post_error"></span>
            </div>

            <div class="post-form-but-container">
                <input class="post-form-but" value="Submit" type="button" onclick="submitform()" />
                <input class="post-form-but" type="reset" value="Reset" />
            </div>
        </form>
    </div>

</body>
</html>