<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <script type="text/javascript" th:src="@{/js/registerapp.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    
</head>
<body>

    <header>
        <div class="head-title-section">
            <h1 class="head-title" ><a class="head-anchor" th:href="@{/}">PostsApp</a></h1>
        </div>
        <div class="head-section">
            
            <div class="head-login-section" sec:authorize="!isFullyAuthenticated()">
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/login}">Login</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/register}">Sign up</a></h4>
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/}">Home</a></h4>
            </div>

            <div class="head-login-section" sec:authorize="isFullyAuthenticated()">
                <h4 class="head-login-section-element "><a class="head-anchor" th:href="@{/logout}">Sign out</a></h4>
                <h4 class="head-login-section-element" ><a class="head-anchor" th:href="@{/}">Home</a></h4>
                <h4 class="head-login-section-element ">Welcome <b class="head-username">[[${#request.userPrincipal.principal.name}]]</b></h4>
                
            </div>
        </div>
    </header>
    
    <div class="form-container">
        <form class="reg-form" id="registerform">
            
            <div class="form-element">
                <h2 class="form-header">Sign up now</h2>
            </div>

            <div class="form-element">
                <label class="form-label">E-mail</label>
                <input class="form-input" type="email" id="email" name="email" required>
            </div>

            <div class="form-element">
                <label class="form-label">Name</label>
                <input class="form-input" type="text" id="name" name="name" required>
            </div>

            <div class="form-element">
                <label class="form-label">Passsword</label>
                <input class="form-input" type="password" id="password" name="password" onkeyup="checkPassword();" required>
            </div>

            <div class="form-element">
                <label class="form-label">Confirm Passsword</label>
                <input class="form-input" type="password" id="confirm_password" name="confirm_password" onkeyup="checkPassword();" required>
            </div>
            
            <div class="form-element">
                <span class="form-message" id="password_message"></span>
            </div>

            <div class="form-element">
                <p class="form-message" id="errormessage"></p>
            </div>

            <div class="form-element">
                <input class="form-but" value="Sign up" type="button" onclick="submitRegisterForm();" />
            </div>
            
        </form>
    </div>

</body>
</html>